


body {
    background-color: teal;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-top: 3cm;
    
}
h1 {
    color:  white;
}
 p {
    color: white;
 }
img {
    float: left;
    margin-right: 20px; 
}
.homero {
    color: yellow; 
    text-decoration: underline; 
}
