<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form name="Describa su perfil" action="../index.html" method="">
        <h1><img src="../assets/img/undraw_walking_together_674e.svg" width="100px"> Datos Basicos</h1>
        <label for="perfil">Describa su perfil </label>
        <input id="perfil">    <br>
        <label for="Identificacion">Describa su perfil </label> 
        <input id="Identificacion"> <br>
        <label for="Apellidos">Describa sus apellidos </label>
        <input id="Apellidos">   <br>
        <label for="Nombres">Describa su perfil </label>
        <input id="Nombres"> <br>
        <label for="telefono">Describa su perfil </label>
        <input id="telefono"> <br>
        <label for="residencia">Describa su perfil </label>
        <input id="residencia" > <br>
        <label for="Correo" >Describa su perfil </label>
        <input id="Correo"> <br>
        <label for="Contrasena"> contra ewrg </label> 
        <input id="Contrasena" type="password"name="password"> <br>
        <label for="Genero">Genero </label> 
        <input id="perfil" type="radio" name="Genero"> Femenino
        <input id="perfil" type="radio" name="Genero"> Masculino <br>
        <label for="Tipoid"> Diga su tipo de identificacion </label> 
        <select>
            <option value="0"> Seleccione un tipo de documento </option>
            <option value="nuip"> nuip </option>
            <option value="cedula"> cedula </option>
            <option value="identidad"> identidad </option>

        </select>
    </form>
    
</body>
</html>