<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario </title>
</head>
<body>
    <table border="3">
        <tr>
            <td>Horas </td>
            <td>Lunes </td>
            <td>Martes </td>
            <td>Miercoles </td>
            <td>Jueves </td>
            <td>Viernes </td>
            <td>Sabado </td>
            <td>Domingo </td>
            
        </tr>
        <tr>
            <td>7:00 - 8:00 </td>
            <td rowspan="3">Modelado de sistemas dinamicos </td>
            <td rowspan="2">Vacio </td>
            <td rowspan="2" >Modelado de sistemas dinamicos </td>
            <td rowspan="2">vacio</td>
            <td rowspan="4">vacio</td>
            <td rowspan="13">vacio</td>
            <td rowspan="13">vacio</td>
        </tr>
        <tr>
            <td>8:00 - 9:00</td>
            
            
            
        </tr>
        
        <tr>
            <td>9:00 - 10:00 </td>
            
            <td rowspan="2">Procesamiento de señales</td>
            <td rowspan="2">Vacio </td>
            <td rowspan="2">Procesamiento de señales</td>
        </tr>
        <tr>
            <td>10:00 - 11:00 </td>
            <td >Vacio </td>
            
            
            
        </tr>
        <tr>
            <td>11:00 - 12:00 </td>
            <td rowspan="2">E-sports</td>
            <td rowspan="2">Introduccion a la criptografia</td>
            <td rowspan="2">Desarrollo web </td>
            <td rowspan="2">Introduccion a la criptografia</td>
            <td rowspan="2">Desarrollo web </td>
            
        </tr>
        <tr>
            <td>12:00 - 1:00 </td>
            
        </tr>
        <tr>
            <td>1:00 - 2:00 </td>
            <td rowspan="3">Analisis Numerico y computacion cientifica </td>
            <td rowspan="2">Introduccion al ciclo de desarollo de software</td>
            <td>Vacio </td>
            <td rowspan="2">Introduccion al ciclo de desarollo de software</td>
            <td rowspan="7">vacio</td>
        </tr>
        <tr>
            <td>2:00 - 3:00 </td>
            
            
            <td rowspan="2">Analisis Numerico y computacion cientifica</td>
            
            
        </tr>
        <tr>
            <td>3:00 - 4:00 </td>
            
            <td rowspan="5">Vacio</td>
            
            <td rowspan="5">vacio</td>
        </tr>
        <tr>
            <td>4:00 - 5:00 </td>
            <td rowspan="2">Hacking Etico</td>
            
            <td rowspan="2">Hacking Etico</td>
        </tr>
        <tr>
            <td>5:00 - 6:00 </td>
            
            
            
        </tr>
        <tr>
            <td>6:00 - 7:00 </td>
            <td rowspan="2">vacio</td>
            
            <td rowspan="2">vacio</td>
        </tr>
        <tr>
            <td>7:00 - 8:00 </td>
            
            
        </tr>
    </table>
    <center><a href="../index.html" target="_blank" > Volver al index  </a> </center>
</body>
</html>