<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Pedro Alejandro Baquero Jimenez" content="Es un quiz">
    <link rel="icon" href="../assets/img/papel.png">
    <title> Quiz</title>

</head>

<body>
    
    <table border="2">
        <tr>
            <td> L </td>
            <td> Nombre </td>
            <td> Apellido </td>
            <td> Cosa </td>
            <td> Color </td>
            <td> Lugar </td>
            <td> Atributo HTML </td>
            <td> Total </td>
        </tr>
        <tr>
            <td> v  </td>
            <td> Valentina </td>
            <td> Vargas </td>
            <td> <img src= "../assets/img/volqueta.jpg"> </td>
            <td> <img src= "../assets/img/violeta.jpg"> </td>
            <td> vichada </td>
            <td> var </td>
            <td> vacio </td>
        </tr>
        <tr>
            <td> d  </td>
            <td> Daniel  </td>
            <td> Delgado </td>
            <td> <img src= "../assets/img/dedo.jpg"> </td>
            <td> <img src= "../assets/img/dorado.jpg"> </td>
            <td> Dinamarca </td>
            <td> dd </td>
            <td> vacio </td>
        </tr>
        <tr>
            <td> u  </td>
            <td> Umberto  </td>
            <td> Uriarte </td>
            <td> <img src= "../assets/img/ukelele.jpg"> </td>
            <td bgcolor="purple">  </td>
            <td> Upland </td>
            <td> ul </td>
            <td> vacio </td>
        </tr>
        <tr>
            <td> x  </td>
            <td> Ximena   </td>
            <td> Xiong </td>
            <td> <img src= "../assets/img/xilofono.jpg"> </td>
            <td bgcolor=rgb(238,237,9)>  </td>
            <td> Xenia </td>
            <td> xml </td>
            <td> vacio </td>
        </tr>
        <tr>
            <td> r  </td>
            <td> Ricardo   </td>
            <td> Rey </td>
            <td> <img src= "../assets/img/radio.png"> </td>
            <td bgcolor="Red">  </td>
            <td> Rockwood </td>
            <td> rt </td>
            <td> vacio </td>
        </tr>
       
       
    </table>
</body>
</html>