<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Pedro Alejandro Baquero Jimenez" content="Es un quiz">
    <link rel="icon" href="../assets/img/papel.png">
    <title> Quiz</title>

</head>

<body>
    
    <table border="2">
        <tr>
            <td> L </td>
            <td> Nombre </td>
            <td> Apellido </td>
            <td> Cosa </td>
            <td> Color </td>
            <td> Lugar </td>
            <td> Atributo HTML </td>
            <td> Total </td>
        </tr>
       
    </table>
</body>
</html>